@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');


body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f7f4;
  color: #333;
}

header {
  background: linear-gradient(45deg, #cbbacc, #2580b3);
  color: white;
  padding: 2rem 1rem;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

main {
  padding: 2rem 1rem;
  max-width: 900px;
  margin: auto;
  background: white;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.05);
  position: relative;
}

form input, form select, form label, button {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fafafa;
}

button {
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: linear-gradient(to right, #5b0eaa, #1a5ee8);
}

#mapa {
  height: 300px;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}

canvas {
  border: 1px solid #aaa;
  margin-bottom: 1rem;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
}

.oculto {
  display: none;
}

.resultado {
  margin-top: 2rem;
  padding: 2rem;
  background: repeating-linear-gradient(
    0deg,
    rgba(0,0,0,0.03),
    rgba(0,0,0,0.03) 2px,
    transparent 2px,
    transparent 20px
  );
  background-size: 100% 40px;
}

#recibo{
    position:relative;
    background:#fffef8;
    border:2px solid #222;
    padding:40px;
    font-family:'Courier Prime', monospace;
    overflow:hidden;

    box-shadow:
    0 0 25px rgba(0,0,0,.12),
    inset 0 0 60px rgba(0,0,0,.03);
}

.encabezado-recibo{
    display:flex;
    justify-content:space-between;
    border-bottom:3px double #000;
    padding-bottom:20px;
    margin-bottom:25px;
}

.logo{
    max-width:100px;
    max-height:100px;
}

.empresa{
    font-size:28px;
    font-weight:700;
    text-transform:uppercase;
    letter-spacing:2px;
}

.numero{
    text-align:right;
    font-weight:bold;
}

.tabla{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

.tabla th{
    background:#111;
    color:white;
}

.tabla th,
.tabla td{
    border:1px solid #333;
    padding:12px;
}

.total{
    text-align:right;
    font-size:28px;
    font-weight:bold;
    margin-top:20px;
}

.firmas{
    display:flex;
    justify-content:space-between;
    margin-top:80px;
}

.firma{
    width:40%;
    text-align:center;
}

.firma img{
    max-width:220px;
}

.linea-firma{
    border-top:1px solid #000;
    margin-top:10px;
}

.marca-agua-fondo{
    position:absolute;
    inset:0;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:110px;
    font-weight:bold;
    opacity:.04;
    transform:rotate(-35deg);
    pointer-events:none;
}
